extends layout
block content
	h1=title
	.list-group
		a.list-group-item.list-group-item-action(href='/home') Home
		a.list-group-item.list-group-item-action.list-group-item-info(href='/users') Ver contactos
		a.list-group-item.list-group-item-action.list-group-item-info(href='/create') Agregar nuevo contacto
		a.list-group-item.list-group-item-action.list-group-item-info(href='/json') Ver Json

	


	
